asgiref==3.11.1
attrs==26.1.0
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
drf-spectacular==0.29.0
fonttools==4.62.1
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mysqlclient==2.2.8
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
PyJWT==2.12.1
pymongo==4.16.0
pyphen==0.17.2
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.4.1
